.p
{
    text-align: center;
    margin: auto;
    padding: auto;
    font-size: smaller;
}

a, a:hover, a:active, a:visited
{ 
    color: white;
    text-decoration: underline;
}

.span
{
    text-align: center;
    margin: auto;
    padding: auto;
    font-size:larger;
    color: white;
}

.link
{
   color:white;
   text-decoration: none; 
   background-color: none;
}
